Here is a table that explains the difference between various Arduinoboy models:

<table style="min-width:100%;">
  <tr>
    <th>Variant</th>
    <th>Price</th>
    <th>USB MIDI</th>
    <th>DIN MIDI</th>
    <th>Notes</th>
  </tr>
  <tr>
    <td><a href="https://catskullelectronics.com/arduinoboy">Arduinoboy</a></td>
    <td>$16-$22 (kit)</td>
    <td>✕</td>
    <td>✔</td>
    <td>DIY kit only.</td>
  </tr>
  <tr>
    <td><a href="https://catskullelectronics.com/arduinoboy-lite">Arduinoboy Lite</a></td>
    <td>$25</td>
    <td>✕</td>
    <td>✔ (out only)</td>
    <td>Uses special fork of Arduinoboy code the improves midi out, but only does midi out.</td>
  </tr>
  <tr>
    <td><a href="https://catskullelectronics.com/teensyboy">Teensyboy</a></td>
    <td>$33</td>
    <td>✔</td>
    <td>✕</td>
    <td>It's tiny! About the size as a thumb drive.</td>
  </tr>
  <tr>
    <td><a href="https://catskullelectronics.com/teensyboypro">Teensyboy Pro</a></td>
    <td>$45</td>
    <td>✔</td>
    <td>✔</td>
    <td>Functionaly identical to Arduinoboy, but smaller. Mounting holes for installing into a case.</td>
  </tr>
</table>