<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}


  <body>
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <div class="masthead-title">
            <a href="/">
              <h1 class="title-text">Catskull Electronics</h1>
            </a>
          </div>
          <span class="cart-button noselect" onclick="viewCart(event)">View Cart</span>
          <div style="float: left;">
            <a style="color: #515151;" href="https://catskullrecords.com">
              <span style="margin-left: 5px;" class="cart-button noselect">
                Music
              <span>
            </a>
            <a style="color: #515151;" href="https://catskullgames.com">
              <span class="cart-button noselect">
                Games
              <span>
            </a>
          </div>
        </div>
      </div>
              
            <div class="container content post">
    All items except genMDM are caught up and shipping during their normal timeframes. Waiting on some Genesis cart shells and then all genMDM orders will be fulfilled!
      </div>

      <div class="container content post main">
        {{ content }}
      </div>

      <div class="container content post">
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
          <form
            action="https://catskullelectronics.us20.list-manage.com/subscribe/post?u=27d714734d979c816ca60bf54&amp;id=76d770466f"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
            novalidate>
            <div id="mc_embed_signup_scroll">
              <h2>Subscribe to the Catskull Electronics newsletter for news, product sneak peaks, and other cool stuff!</h2>
              <p>No spam! Just timely updates! I send about one newsletter a month.</p>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                </label>
                <input type="email" value="" placeholder="e.g. your-email@domain.com" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div class="mc-field-group">
                <label for="mce-FNAME">First Name </label>
                <input type="text" value="" placeholder="e.g. Alex" name="FNAME" class="" id="mce-FNAME">
              </div>
              <div class="mc-field-group">
                <label for="mce-LNAME">Last Name </label>
                <input type="text" value="" placeholder="e.g. Smith" name="LNAME" class="" id="mce-LNAME">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_27d714734d979c816ca60bf54_76d770466f" tabindex="-1" value=""></div>
              <div class="clear" style="margin-top: 8px;">
                <div class="addToCart noselect" onclick="document.getElementById('mc-embedded-subscribe').click()">
                  Subscribe
                </div>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="display: none;">
              </div>
            </div>
          </form>
        </div>

        <!--End mc_embed_signup-->
      </div>

      <div class="container content post footer">
        <h2><a href="/faq">FAQ</a></h2>
        <div class="social-icons">
          <a href="https://www.facebook.com/catskullelectronics" target="_blank">
            <img src="/public/facebook.png" alt="Facebook">
          </a>
          <a href="https://www.instagram.com/xxcatskullxx/" target="_blank">
            <img src="/public/instagram.png" alt="Instagram">
          </a>
          <a href="https://twitter.com/xxcatskullxx" target="_blank">
            <img src="/public/twitter.png" alt="Facebook">
          </a>
        </div>
      </div>

    </div>

    <script type="text/javascript">
      function viewCart(event) {
        event.stopPropagation()
        document.getElementsByClassName('shopify-buy__cart-toggle')[0].click()
      }

      function addToCart(event) {
        var options = document.getElementById('options-selection')
        if (options) {
          var el = document.getElementsByClassName('shopify-buy__option-select__select')[0]
          el.selectedIndex = options.selectedIndex
          var e = document.createEvent('HTMLEvents');
          e.initEvent('change', true, false);
          el.dispatchEvent(e);
        }

        event.stopPropagation()
        document.getElementById('shopify-button').getElementsByTagName('button')[0].click()
      }


      number = Math.floor((Math.random() * 8) + 1);
      urlString = "url('/public/patterns/" + number + ".png')"
      document.body.style.backgroundImage = urlString;
      switch (number) {
        case 1:
          document.body.style.backgroundColor = "#EBDBFF";
          break;
        case 2:
          document.body.style.backgroundColor = "#D0F9D8";
          break;
        case 3:
          document.body.style.backgroundColor = "#FBFDC0";
          break;
        case 4:
          document.body.style.backgroundColor = "#FCE1C7";
          break;
        case 5:
          document.body.style.backgroundColor = "#B4D4F9";
          break;
        case 6:
          document.body.style.backgroundColor = "#F9B8C4";
          break;
        case 7:
          document.body.style.backgroundColor = "#6B81FF";
          break;
        case 8:
          document.body.style.backgroundColor = "#99FFE7";
          break;
      }
    </script>
  </body>
</html>
