<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ site.description }}" name="description">
  <title>Catskull Electronics</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
</head>

<body>

  <header>

    <div class="flex-container">
      <div class="box" style="background: none; box-shadow: none; margin-bottom: 0;">
        <div style="line-height: 0; text-align: center;">
          <img
            style="width: 85%;margin-top: 1rem;margin-bottom: 1rem;image-rendering: pixelated;box-shadow: 30px 30px 0px rgba(35, 25, 248, 0.3);background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(35, 25, 248, 0.3) 50%);"
            src="/images/logo.png"
            alt="Catskull Electronics logo">
        </div>
      </div>
    </div>

    <div class="flex-container">
      <div class="box item" id="dropdown">
        <div class="ds-bios menu-item header">
          Shop
        </div>
        <div class="menu-content ds-bios subheader">
          <ul class="root-menu">
            <li>Consoles</li>
            <ul class="submenu">
              <li>Game Boy</li>
              <li>Genesis</li>
              <li>NES</li>
            </ul>
            <li>MIDI</li>
            <li>DIY</li>
            <li>Games</li>
          </ul>
        </div>
      </div>
    </div>

  </header>

  <main>

  <div class="flex-container">

    {% for post in site.categories.electronics %}
      {% unless post.hidden %}
      <a href="{{ post.url }}">
        <div class="box item">
          <picture>
            <!-- <source type="image/webp" srcset="{{ post.image }}.webp"> -->
            <img src="{{ post.image }}" alt="{{ post.artist }} - {{ post.title }} album art" />
          </picture>
          {% assign today_date = 'now' | date: '%s' %}
          {% assign release_date = post.date | date: '%s' %}
          {% assign diffSeconds = today_date | minus: release_date %}
          {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %}
          {% if diffDays < 90  %}
          <div class="new"></div>
          {% endif %}
          <div class="ds-bios description">
            <div class="header">
              {{ post.title }}
            </div>
            <br>
            <div class="subheader">
              {{ post.price }}
            </div>
          </div>
        </div>
      </a>
      {% endunless %}
    {% endfor %}

  </div>

</body>

</html>